body {
    background-color: #eee;
}

#todolist {
    margin-top: 20px;
}

#todolist #todos, #todolist #dones {
    padding: 20px;
    background-color: #fff;
}

#todos .list-group .list-group-item .complete {
    display: none;
    color: green;
}

#todos .list-group .list-group-item:hover .complete {
    display: inline-block;
}

#dones .list-group .list-group-item {
    color: #d9d9d9;
    text-decoration: line-through;
}

#dones .list-group .list-group-item .delete {
    display: none;
}

#dones .list-group .list-group-item:hover .delete {
    display: inline-block;
}